{% extends 'bookReview/basic.html' %}

{% block title %}About Page{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">

{% endblock css %}

{% block body %}

<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Welcome to our books website!

We are a team of avid readers and book lovers who are passionate about connecting people 
with the stories they love. Our website offers a curated selection of books across genres and 
interests, so whether you're in the mood for a classic novel or a gripping thriller, we've got you covered.
</p>
<p class="text">We believe that books have the power to inspire, educate, and entertain, and we are dedicated
to making the reading experience as seamless and enjoyable as possible. 
Our user-friendly website allows you to browse books with ease.
</p>
<p class="text">At our books website, we are committed to promoting literacy and encouraging a love 
of reading in people of all ages. That's why we offer a variety of resources and programs 
designed to support readers and help them find their next great read.
</p>

<p class="text">Thank you for choosing our books website. We can't wait to help you discover your next favorite book!</p>    
        </p>
    </div>
</div>

{% endblock body %}