<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    {% comment %} google fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    
    {% block css %}{% endblock css %}
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid nav-bg ">
        <a class="navbar-brand" href="{% url 'Home' %}">Lit<sub>Club</sub></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Genres
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'Genre' 'Adult' %}" >Adult</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Anthologies' %}">Anthologies</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Art' %}">Art</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Biographies' %}">Biographies</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Business' %}">Business</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Children' %}">Children</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Comics' %}">Comics</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Cooking' %}">Cooking</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Crime' %}">Crime</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Engineering' %}">Engineering</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Entertainment' %}">Entertainment</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Fantasy' %}">Fantasy</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Fiction' %}">Fiction</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Food' %}">Food</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Health' %}">Health</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'History' %}">History</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Horror' %}">Horror</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Investing' %}">Investing</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Manga' %}">Manga</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Mind' %}">Mind</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Mystery' %}">Mystery</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Nonfiction' %}">Nonfiction</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Romance' %}">Romance</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Science' %}">Science</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Self' %}">Self</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Spirituality' %}">Spirituality</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Superheroes' %}">Superheroes</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Technology' %}">Technology</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Thrillers' %}">Thrillers</a></li>
                <li><a class="dropdown-item" href="{% url 'Genre' 'Young' %}">Young</a></li>
              </ul>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li> {% endcomment %}

            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex" role="search" action="/search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name = "book_name"
            
            />

            <button class="btn" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
      
          </form>

          <a href="login/">
          <button class="btn btn-success mx-2">Login</button>
          </a>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock body %}

  
      <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="quick-links">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="contact-info">
              <h4>Contact Info</h4>
              <ul>
                <li>Address: Whatever</li>
                <li>Phone: 1234567890</li>
                <li>Email: books@books.com</li>
              </ul>
            </div>
            <div class="social-media">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    
    <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"
    ></script>

    {% block js %}{% endblock js %}
      {% comment %} <script>
        fiction = document.getElementById('fiction').innerHTML;
        console.log(fiction)
      </script> {% endcomment %}

      
    
  </body>
</html>
