{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | Book Details{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">

{% endblock css %}

{% block body %}

{% load filters %}
<div class="detailcontainer">
    <div class="book-details">
        <div class="book-cover">
            <img src="{{image}}" alt="">
            {% comment %} {{book_id_api}} {% endcomment %}
           
            {% if fav != True %}
                <form action="/userProfile/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="hidden_bookId" value={{book_id_api}}> 
                    <button class="btn btn-danger my-3">Mark as favourite</button>
                </form>

            {% else %}
                <form action="/userProfile/d" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="hidden_bookId" value={{book_id_api}}> 
                    <img src="/static/bookReview/images/check-mark.png" alt="" style="height:40px; width:40px" class="check-mark mt-3">
                    <button class="btn btn-danger my-3">Remove from Favourites</button>
                </form>
            {% endif %}
        </div>

        <div class="book-info">
            <h1 class="book-title"><p><b>{{title}}</b></p></h1>
            <p class="book-author">Author: {{author_list | join:", "}}</p>
            <p>Publisher : {{publisher}}</p>
            <p>Edition / Publish Date : {{edition}}</p>
            <p>Pages: {{no_pages}}</p>
            <p>ISBN-10: {{isbn10}}</p>
            <p>ISBN-13: {{isbn13}}</p>
            <p class="book-description">Description: {% autoescape off %}{{desc}}{% endautoescape %}</p>

            {% comment %} Review form {% endcomment %}
            <div id="user-review" >
                {% if user.is_authenticated %}
                <form action="{% url 'UserReview' %}?id={{book_id_api}}" method="post">
                    {% csrf_token %}
                    <hr>
                    <div class="form-group">
                        <label class="control-label" for="message"><h5><b>Add your Review:</b></h5></label>
                        <div class="">
                            <textarea class="form-control mt-2" id="message" name="message" placeholder="Please enter your review here..." rows="5" required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-danger btn-sm mt-2" id="review-Submit" onclick="document.getElementById('review-Submit')">Submit</button>
                </form>
                {% else %}
                    <hr>
                    <h5 id="loginReviewMsg"><b>Please Login To Write A Review !</b></h5>
                {% endif %}
            </div>
        </div> 

        <div class="detailreview">
            <h5>READ REVIEWS FROM :</h5>
            <button class="btn reviewButton mb-2" onclick="location.href='{% url 'BNoble' %}?no={{isbn13}}&t={{title_for_url}}&a={{author_list|index:0}}'">Barnes & Noble</button>
            <button class="btn reviewButton mb-2" onclick="location.href='{% url 'Bookmarks' %}?t={{title_for_bmarks}}'">Bookmarks</button>
            <button class="btn reviewButton mb-2" onclick="location.href='{% url 'Amazon' %}'">Amazon</button>
            <button class="btn reviewButton mb-2" onclick="location.href='{% url 'Goodreads' %}?t={{title_for_url}}&a={{author_list|index:0}}'">Goodreads</button>
            
            <button class="btn btn-outline-danger mb-2" id="button" onclick="document.getElementById('user-review').scrollIntoView();">Write a Review</button>
        </div>
    </div>
</div>

{% block js %}

<script>
    document.getElementById("user-review").style.visibility="hidden";
    var displayReviewFom = false;
    $("#button").click(function() { 
            
       //$("#user-review").toggle();
       document.getElementById("user-review").style.visibility="visible";
        // assumes element with id='button'   
    });


    $("#review-Submit").click(function() {    
        var x = document.getElementById('message').value;
        if(x.length > 0) {
            document.getElementById("user-review").style.visibility="hidden";
        } else {
            document.getElementById("user-review").style.visibility="visible";
        }        
    }); 
    
</script>

{% endblock js %}

{% endblock body %}