{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | Book Details{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">

{% endblock css %}

{% block body %}

<div class="detailcontainer">
    <div class="book-details">
        <div class="book-cover">
            <img src="/media/{{image}}" alt="">
        </div>

        <div class="book-info">
            <h1 class="book-title"><b>{{title}}</b></h1>
            <p class="book-author">Author: {{author}}</p>
            <p>Publisher : {{publisher}}</p>
            <p>Edition / Publish Date : {{publish_date}}</p>
            <p>Pages: {{no_pages}}</p>
            <p class="book-description">Description: {{desc}}</p>
        </div>

        <div class="detailreview">
            <h5>READ REVIEWS FROM :</h5>
            <button class="btn btn-primary reviewButton mb-2" onclick="location.href='{% url 'BNoble' %}'">Barnes & Noble</button>
            <button class="btn btn-primary reviewButton mb-2" onclick="location.href='{% url 'Amazon' %}'">Amazon</button>
            <button class="btn btn-primary reviewButton mb-2" onclick="location.href='{% url 'Goodreads' %}'">Goodreads</button>
        </div>
    </div>
</div>
{% endblock body %}