{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | Home{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}"> 
{% endblock css %}

{% block body %}

<header>
  <div class="banner" style="background-image:url('/static/bookReview/images/pcs.jpg');">
    <div class="banner-content">
      <h1 class="heading">StoryShelves</h1>
      <p>Start your book search today and discover your next favorite read with StoryShelves!</p>
      <a href="#" class="btn btn-primary">Button for something idk</a>
    </div>
  </div>
</header>

<div class="container">
    
  {% for product, range, nSlides in allBooks %}
    <h4 class="my-4 category_title">{{product.0.category | upper}}</h4>
    
  <div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide mt-1" data-ride="carousel">

      <div class="container carousel-inner no-padding">
          <div class="carousel-item active">
 
              
              {% for i in product%}
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                  <div class="card align-items-center pt-3 book" style="width: 12rem;" id="{{i.book_id}}">
                      <img src="/media/{{i.image}}" class="card-img-top bookImage" alt="Image Empty" id="cover{{i.book_id}}">
                      <div class="card-body ">
                        <h5 class="card-title">
                          {% if i.title|length >= 25 %}
                            {{i.title|slice:":25"}}...
                          {% else %}
                            {{i.title}}
                          {% endif %}
                          </h5>
                        <h6 class="card-text mb-3">{{i.author}}</h6>
                      </div>
                      
                    <button class="btn card-hover-button pt-1 pb-1" onclick="location.href='#'">Details</button>
                  </div>
              </div>

              {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last%}
          </div><div class="carousel-item">
              {% endif %}
              {% endfor %}
      </div>
    </div> 

    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div> 
  <hr> 
</div> 
  {% endfor %}



{% endblock body %}

{% block js %}
{% endblock js %}