{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | PageTest{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">
<style>
    h4 {
        text-align: center;
    }
</style>
{% endblock css %}

{% block body %}
<div class="row">
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="container carousel-inner">
            <div class="carousel-item active">
               {% comment %} {% if "Fiction" in category %} {% endcomment %}

                <h4 class="mt-5 mb-5">{{gen|upper}} "{{query|upper}}"</h4>

                    {% for i in length %} 
                
                        {% load filters %}
                    
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <div class="card align-items-center pt-3" style="width: 13rem;">
                                <img src="{{pic|index:i}}" class="card-img-top bookImage" alt="Picture not available">
                                <div class="card-body">
                                    <h5 class="card-title" id="namepr{{i.book_id}}">
                                        {% if titles|index:i|length >= 25 %}
                                            {{titles|index:i|slice:":25"}}...  
                                        {% else %}
                                            {{titles|index:i}}  
                                        {% endif %}
                                        
                                    </h5>      
                                    <h6 class="card-text">{{author | index:i | join:", "}}</h6>
                                </div> 
                            <button class="btn card-hover-button pt-1 pb-1" onclick="location.href='{% url 'Details' %}?isbn={{isbn|index:i}}&title={{titles|index:i}}'">Quickview</button>
                            </div>
                        </div>

                    {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last%}
                        <hr class="pb-4">
                    {% endif %}        
                    {% endfor %} 
                <hr>
            </div>
    
        </div>
    </div>
</div>

<nav aria-label="Page navigation example" class="page-nav">
    <ul class="pagination justify-content-center ">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'page' 1 %}">1</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'page' 2 %}">2</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'page' 3 %}">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
{% endblock body %}