{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | Reviews{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">

{% endblock css %}

{% block body %}

<p>{{test}}</p>

For testing !

<a href="https://www.barnesandnoble.com/w/{{title}}{{author}}/?ean={{isbn_no}}">https://www.barnesandnoble.com/w/{{title}} {{author}}/?ean={{isbn_no}}</a>

{% load filters %}
{% autoescape off %} 
    <p>{{reviews|index:0}}</p> 
{% endautoescape %}

{% if msg != "" %}
<p>{{msg}}</p>

Please visit: 
<a href="https://www.barnesandnoble.com/w/{{title}} {{author}}/?ean={{isbn_no}}">Barnes and Nobles</a>
{% endif %}


{% endblock body %}