{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | Rules{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">

{% endblock css %}

{% block body %}
{% comment %} style="background: url('/static/bookReview/images/bookbg.jpg') no-repeat left;  overflow: hidden;" {% endcomment %}
<div class="ct-pageWrapper" id="ct-js-wrapper">
    <section class="company-heading intro-type" id="parallax-one">
      <div class="container">
        <div class="row product-title-info">
          <div class="col-md-12">
            <h1>RULES</h1>
          </div>
        </div>
      </div>
      <div class="parallax" id="parallax-cta" style="background-image:url('/static/bookReview/images/hero.jpg');"></div>
    </section>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
      <div class="container text-center">
        <div class="col-md-8 col-md-offset-2">
          <p align="justify" class="ct-u-size18 ct-u-fontWeight300 marginTop40 pb-3">Welcome to our website, the ultimate destination for book lovers! We offer a range of features designed to help you find your next great read, including book reviews from leading publications and fellow readers, as well as a price comparison tool that allows you to find the best deal on your next purchase.</p>
          <p align="justify" class="ct-u-size18 ct-u-fontWeight300 marginTop40 pb-3">To ensure that our website is a safe and enjoyable place for everyone, we ask that you follow these rules:
            <li align="justify">Be respectful: Please treat other users with respect and courtesy. Do not post anything that is offensive, abusive, or discriminatory in nature.</li>
            <li align="justify">Stay on topic: Please keep your comments and posts relevant to the book or topic being discussed. Off-topic comments may be removed.</li>
            <li align="justify">No self-promotion: Do not use our website to promote your own business or products.</li>
            <li align="justify">No spamming: Do not post the same comment or message repeatedly, or post irrelevant or unsolicited content.</li>
            <li align="justify">No plagiarism: Do not copy and paste content from other sources without permission or proper attribution.</li>
            <li align="justify">No illegal activity: Do not use our website to engage in any illegal activity, such as copyright infringement or the sale of counterfeit goods.</li>
            <li align="justify">Use our price comparison tool responsibly: Our price comparison tool is designed to help you find the best deal on your next purchase. However, please use it responsibly and do not abuse it by repeatedly running searches or using it for commercial purposes.</li>
          </p>
          <p align="justify" class="ct-u-size18 ct-u-fontWeight300 marginTop40 pb-3">By using our website, you agree to abide by these rules and help us maintain a friendly and respectful community for book lovers. Thank you for joining us on this literary journey!</p>
        </div>
      </div>
    </section>
    </div>
{% endblock body %}