{% extends 'bookReview/basic.html' %}

{% block title %}Story Shelves | Profile Page{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'bookReview/css/landing_css.css' %}">
<style>
    .inner-container{
        padding: 0 3.5rem;
    }
    .x{
        padding:0;
        background: #F5FDFC;
    }
    .fav-box{
        border-radius: 1rem;
        border: 3px solid #A2E9E3;
    }
    .fav-title{
        padding: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #249A90;
        text-shadow: 2px 2px #A2E9E3;
    }
    .wel-msg{
        text-align: center;
    }
    .wel-msg span{
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px #A2E9E3;
    }
    .full-name{
        text-transform: capitalize;
        color: #e71d36;
        font-weight: bold;
    }
    .username{
        color:#EC4B5F;
    }
    .btn-div{
        padding-top: 1.5rem;
        text-align: right;
    }
    .signout-btn{
        background: #e71d36; 
        color: #fff;
        border: 2px solid #e71d36;
    }
    .signout-btn:hover{
        background: #fff; 
        color: #e71d36;
        font-weight: bold;
        border: 2px solid #e71d36;
    }

</style>
{% endblock css %}

{% block body %}
{% load filters %}

<div class="container">
    <div class="inner-container">

        <h3 class="wel-msg px-4 pt-4">Glad to have you back, <span>{{firstname}}!</span> </h3>
        <h5 class="pb-4 wel-msg"> Let's find your next page-turner.</h5>

        <h4 class="full-name">{{fullname}}<br></h4> 
        <h6 class="pb-3 username"><i>{{user}}</i></h6>
        
        {% comment %} {% for i in length  %}
            {% if 'http' in image|index:i %}
                <p>{{image|index:i}}</p>
            {% else %}
                fraud
            {% endif %}
                

        {% endfor %} {% endcomment %}

        <div class="row">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="container carousel-inner x">
                    <div class="carousel-item active fav-box">

                        <h1 class="fav-title">Favourites</h1>
                        {% for i in books %}

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                                <div class="card align-items-center pt-3" style="width: 13rem;">

                                    {% if 'http' in i.image%}
                                        <img src="{{i.image}}" class="card-img-top bookImage" alt="Loading image..">
                                        <div class="card-body">
                                            <h5 class="card-title" id="namepr{{i.book_id}}">
                                                {% if i.title|length >= 25 %}
                                                    {{i.title|slice:":25"}}...   
                                                {% else %}
                                                    {{i.title}}  
                                                {% endif %}
                                                
                                            </h5>      
                                            <h6 class="card-text"> 
                                                {% if i.author|join:", "|escape|length >= 25 %}
                                                    {{i.author | join:", " | escape | slice:":35"}}...
                                                {% else %}
                                                    {{i.author | join:", "}}
                                                {% endif %}    
                                            </h6>
                                        </div> 
                                        <button class="btn card-hover-button pt-1 pb-1" onclick="location.href='{% url 'Details' %}?id={{i.book_id_api}}'">Details</button>

                                        <form action="/userProfile/d" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="hidden_bookId" value={{i.book_id_api}}> 
                                            <button class="btn btn-danger my-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                              </svg></button>
                                        </form>

                                    {% else%}
                                
                                        <img src="/media/{{i.book_id_db.image}}" class="card-img-top bookImage" alt="Loading image..">
                                        <div class="card-body ">
                                        <h5 class="card-title">
                                            {% if i.book_id_db.title|length >= 25 %}
                                                {{i.book_id_db.title|slice:":25"}}...   
                                            {% else %}
                                                {{i.book_id_db.title}}  
                                            {% endif %}
                                            </h5>
                                        <h6 class="card-text mb-3">{{i.book_id_db.author}}</h6>
                                        </div> 
                                        <button class="btn card-hover-button pt-1 pb-1" onclick="location.href='{% url 'DetailsHome' %}?bookId={{i.book_id_db}}'">Details</button>

                                        <form action="/userProfile/d" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="hidden_bookId" value={{i.book_id_db}}> 
                                            <button class="btn btn-danger my-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                              </svg></button>
                                        </form>
                                    {% endif %}
                                    
                                </div>
                            </div>
                
                    
                        {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last%}
                            <hr class="pb-4">
                        {% endif %}        
                        {% endfor %} 
                    </div>
            
                </div>
            </div>
        </div> 

        
        <div class="btn-div">
        <button class="btn mb-2 signout-btn" onclick="location.href='../signout/'">Sign-out</button>
        </div>
        {% comment %} <br>
        <button type="button" class="btn btn-danger signout-btn"><a href="/signout/">Sign out</a></button> {% endcomment %}
        
</div>
</div>


{% endblock body %}
