body {   
    font-family: 'Lexend', sans-serif;
    background: linear-gradient(#92bee140, rgba(0, 0, 0, 0));
}


.navbar {
    background-color: transparent;
}

.col-lg-2 {
    display: inline-block;
    margin-left: -4px;
}

.col-lg-2 img {
    max-width: 130px;
    height: 209px;
}

body .carousel-indicators {
    bottom:0;
}

/* .carousel-indicators .active {
    background-color: blue;

}

.carousel-indicators button {
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); 
} */

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
    filter: invert(1);
    /* padding-top: 20px; */

}

body .carousel-indicators{
    bottom: -50px;
    }

.carousel-control-next, .carousel-control-prev {
   top: -20px;
   /* bottom: auto; */
   /* padding-top: 20px; */
}

.carousel-control-next {
    right: -100px;
}
.carousel-control-prev {
    left: -100px;
}

.card {
    border: none;
    background: linear-gradient(#1218c040, rgba(0, 0, 0, 0));
}

.card-title, .card-text, .category_title {
    text-align: center;
}

.card-img-top {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    background: radial-gradient(ellipse at right bottom, #EEB1BF 5%, #d42dab 25%, #4d1d63 50%, #030243 100%);
    color: #fff;
    padding: 40px 0;
    width: 100%;
  }
  
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer .quick-links h4,
  .footer .contact-info h4,
  .footer .social-media h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer li {
    margin-right: 20px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer .fa {
    font-size: 20px;
    margin-right: 10px;
  }  

.bookImage {
    border-radius: 7px;
}

.dropdown-menu {
    columns: 4;
}